
@{
    ViewData["Title"] = "AboutUs";
}

<h1>من نحن</h1>

<div class="col-md-4">
    <p>
        <h3> مركز تجميل بيوتي سنتر </h3>
    </p>
    <p>
        تبحثين عن التميّز، والجمال، لكنك في رحلة بحث عن أفضل صالون نسائي في دبي، يضفي عليك إطلالة عصرية، وفريدة من نوعها؛ صالون “سابيوتي بروفيشنال للسيدات دبي” سيكون أفضل وجهة لك لا محالة، أين ستحظين بأحسن استقبال من قِبَلِ طاقمنا المتكون من أفضل الخبيرات، والمحترفات في مجال التجميل، والعناية بجسمك من الرأس إلى أخمص القدمين؛ وفريق من المختصّات ستُدلّلنك بأرقى فنون التدليك، لكي تستمتعي باسترخاء لا مثيل له؛ أما إذا كنت من محبي الحناء فستكون يداك وأصابعك تحت رعاية أخصائيات في نقش الحناء التقليدية، والعصرية لتلبية كلّ الأذواق
    </p>
        <p>
            <a class="btn btn-default" href="~/Images/6.jpg"> </a>
        </p>
    </div>


<div class="global">
    <div class="curve"></div>
    <div class="container">
      

        @*<p class="copyright"> &copy; Copyright all rights reserved</p>*@

    </div>

</div>






    @*<div class="centerdiv">
        <a href="https://www.facebook.com" target="_blank">

            <i class="fa fa-2x fa-facebook"> </i>
        </a>

        <a href="https://www.twitter.com" target="_blank">

            <i class="fa fa-2x fa-twitter"> </i>
        </a>

        <a href="https://www.instagram.com" target="_blank">

            <i class="fa fa-2x fa-instagram"> </i>
        </a>

        <a href="https://www.youtube.com" target="_blank">

            <i class="fa fa-2x fa-youtube"> </i>
        </a>

        <a href="https://www.linkedin.com" target="_blank">

            <i class="fa fa-2x fa-linkedin"> </i>
        </a>

    </div>*@



