
@{
    ViewData["Title"] = "CallUs";
}

<h1>اتصل بنا</h1>

<div class="mb-3 row">
    <label for="staticPhone" class="col-sm-2 col-form-label">PhoneNumber</label>
    <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" id="statiPhone" value="0907241649">
    </div>
</div>

<p>
    <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="Omda18009@gmail.com">
        </div>
    </div>
</p>
