
@{
    ViewData["Title"] = "CareFace";
}

<h1>CareFace</h1>

<div class="jumbotron">
    <h3>مرحبا بك عزيزي الزائر  في قسم العناية بالوجه  </h3>
    <p>
        هنا حيث يمكنك البحث عن ارقى ادوات التجميل حيث موطن التجميل

    </p>
    <p> <a href="~/Care-face/2.jpg" class="btn btn-primary btn-lg"> المزيد بالتفاصيل  </a></p>
</div>