
@{
    ViewData["Title"] = "Carebody";
}

<h1>Carebody</h1>

<div class="jumbotron">
    <h3>مرحبا بك عزيزي الزائر  في قسم العناية بالجسم  </h3>
    <p>
        جسمك يحتاج إلى الاسترخاء، والدلال، تماما كما تحتاج نفسيتك إلى من يروّح عنها، ويزيل عنها تعب، وجهد اليوم.
        احجزي في صالون “سابيوتي بروفيشنال للسيدات”، وجرّبي خدماتنا.
        ستسقبلك مجموعة من الأخصائيات اللاتي يضعن بين يديك خبرتهن الكبيرة في مجال التجميل، والتدليك، والعلاجات الخاصة بالجسم.
        سيقترحن عليك كلّ ما يتوفر لدينا، ويتناسب مع بشرتك، وما عليك سِوى الاختيار.
        أسعار الصالون معقولة، كما نراعي، ونأخذ بعين الاعتبار وقتك المشغول، بتوفير برامج وخدمات متنوعة بتوقيت زمني متنوع
    </p>
    @*<p> <a href="~/Care-body/2.jpg" class="btn btn-primary btn-lg"> المزيد بالتفاصيل  </a></p>*@


    <p>
        <img src="~/Care-body/1.jpg" class="img-fluid" alt="...">
    </p>

    <p>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="~/Care-body/3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="~/Care-body/4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a short card.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="~/Care-body/2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="~/Care-body/1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>
    </p>


</div>