
@{
    ViewData["Title"] = "Carehear";
}

<h1>Carehear</h1>

<div class="jumbotron">
    <h3>مرحبا بك عزيزي الزائر  في قسم العناية بالشعر  </h3>
    <p>
        هنا حيث يمكنك البحث عن ارقى ادوات التجميل حيث موطن التجميل

    </p>
    <p> <a href="~/Care-heair/2.jpg" class="btn btn-primary btn-lg"> المزيد بالتفاصيل  </a></p>
</div>