
@{
    ViewData["Title"] = "Carehear";
}

<h1>Carehear</h1>

<div class="jumbotron">
    <h3>مرحبا بك عزيزي الزائر  في قسم العناية بالشعر  </h3>
    <p>
        هنا حيث يمكنك البحث عن ارقى ادوات التجميل حيث موطن التجميل

        ترغبين في أن تظهري في طلّة جديدة، تبهرين بها كلّ من حولك بتسريحة، أو قصّة جديدة، ولما لا تغيير كلّي للون شعرك، أو إضفاء شكل جديد لشعرك بوصلات حسب ذوقك، ننصحك بحجز موعد في صالون “سابيوتي بروفيشنال للسيدات”.

    </p>
    @*<p> <a href="~/Care-heair/2.jpg" class="btn btn-primary btn-lg"> المزيد بالتفاصيل  </a></p>*@


    <p>
        <img src="~/Care-heair/5.jpg" class="img-fluid" alt="...">
    </p>

    <p>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="~/Care-heair/2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="~/Care-heair/3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a short card.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="~/Care-heair/4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="~/Care-heair/5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>
    </p>


</div>