
@{
    ViewData["Title"] = "CareFace";
}

<h1>CareFace</h1>

<div class="jumbotron">
    <h3>مرحبا بكم زوارنا الكرام  في قسم العناية بالوجه  </h3>
    <p>
        ترغبين في إضفاء إشراقة مميزة على وجهك؛ مرحبا بك في أفضل صالون  من حيث خدمات العناية بالوجه، من تدليك، وتنظيف، ثم ماكياج لمختلف المناسبات.
        خبيرات التجميل لدينا ستضفي عليك لمسة خاصة بك، من خلال التنسيق بين كل نقطة في وجهك لابدائك جمالا من نوع خاص؛ عندما تطلعين على المرآة بعد جلسة التجميل لدينا لن تتعرفي على نفسك، وستدركين حينها كم هو مهمّ وضروري أن تودعِي وجهك بين أيدي أمينة تعرف كيف تعتني به

    </p>
    @*<p> <a href="~/Care-face/2.jpg" class="btn btn-primary btn-lg"> المزيد بالتفاصيل  </a></p>*@

    <p>
        <img src="~/Care-face/4.jpg" class="img-fluid" alt="...">
    </p>

    <p>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="~/Care-face/2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with text below .</p>
                        <p>
                            هناك العديد من العوامل التي تؤثر على بشرتك، تعتبر العوامل الوراثية والشيخوخة والهرمونات وحالات مثل مرض السكري من العوامل الداخلية التي تؤثر على الجلد. لا يمكنك التأثير في بعض هذه العوامل، ولكن هناك العديد من العوامل الخارجية التي يمكنك القيام بها.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="~/Care-face/3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a short card.</p>
                        <p>
                            هناك العديد من العوامل التي تؤثر على بشرتك، تعتبر العوامل الوراثية والشيخوخة والهرمونات وحالات مثل مرض السكري من العوامل الداخلية التي تؤثر على الجلد. لا يمكنك التأثير في بعض هذه العوامل، ولكن هناك العديد من العوامل الخارجية التي يمكنك القيام بها.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="~/Care-face/4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        This is a longer card with text below<p>
                            يمكن أن تتسبب المؤثرات الخارجية مثل التعرض لأشعة الشمس غير المحمية والغسيل المتكرر أو بالماء الساخن جداً في إتلاف الجلد، ويمكن أن يؤثر النظام الغذائي غير الصحي والإجهاد وقلة النوم وقلة التمارين الرياضية والجفاف والتدخين وأدوية معينة على قدرة الجلد على العمل كحاجز وقائي فعال.

                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="~/Care-face/1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        This is a longer card with text below  <p>
                            هناك العديد من العوامل التي تؤثر على بشرتك، تعتبر العوامل الوراثية والشيخوخة والهرمونات وحالات مثل مرض السكري من العوامل الداخلية التي تؤثر على الجلد. لا يمكنك التأثير في بعض هذه العوامل، ولكن هناك العديد من العوامل الخارجية التي يمكنك القيام بها.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </p>


</div>