
@{
    ViewData["Title"] = "CareSkin";
}

<h1>CareSkin</h1>

<div class="jumbotron">
    <h3>مرحبا بك عزيزي الزائر  في قسم العناية بالبشرة  </h3>
    <p>
        هنا حيث يمكنك البحث عن ارقى ادوات التجميل حيث موطن التجميل

    </p>
    <p> <a href="~/Care-skin/2.jpg" class="btn btn-primary btn-lg"> المزيد بالتفاصيل  </a></p>
</div>