
@{
    ViewData["Title"] = "Product";
}

<h1>Product</h1>


<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="~/Care-face/1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">منتجات العناية بالوجه </h5>
                <p>
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item">A list item</li>
                        <li class="list-group-item">A list item</li>
                        <li class="list-group-item">A list item</li>
                    </ol>
                </p>
                <p class="card-text">This is a short card.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/Care-heair/1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">منتجات العناية بالشعر </h5>
                <p>
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item">A list item</li>
                        <li class="list-group-item">A list item</li>
                        <li class="list-group-item">A list item</li>
                    </ol>
                </p>
                <p class="card-text">This is a short card.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/Care-body/1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">منتجات العناية بالجسم </h5>
                <p>
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item">A list item</li>
                        <li class="list-group-item">A list item</li>
                        <li class="list-group-item">A list item</li>
                    </ol>
                </p>
                <p class="card-text">This is a short card.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="~/Care-skin/1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">منتجات العناية بالبشرة </h5>
                <p>
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item">A list item</li>
                        <li class="list-group-item">A list item</li>
                        <li class="list-group-item">A list item</li>
                    </ol>
                </p>
                <p class="card-text">This is a short card.</p>
            </div>
        </div>
    </div>
</div>